{% extends "base.html" %}
{% load staticfiles %}
{% block main %}

{% if not user.is_authenticated %}
{% if errors %}
    <p class='errors'>Неправильный пароль или логина</p>
    {% endif %}
    <form action="{% url 'login' %}"  method='POST'>
      {% csrf_token %}
      <input max='35' name='login' placeholder='login' type='text' value=''>
      <input max='35' name='password' placeholder='password' type='password' value=''>
      <button class="btn btn-success" type='submit'>Login</button>
    </form>
{% endif %}
{% endblock %}